<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>
<% @cocktails.each do |cocktail|%>
<ul>
<%= link_to cocktail.name,  cocktail_path(cocktail) %>
<%= link_to "Delete", cocktail_path(cocktail),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
      <%= link_to "edit", edit_cocktail_path(cocktail)%>
</ul>

<%end%>
<%= link_to "new",  new_cocktail_path%>


